.search-bar-container {
    position: relative;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 2rem;

    @media (max-width: 1024px) {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    @media (max-width: 768px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    input {
        z-index: 0;
        padding: 1rem;
        outline: none;
        width: 100%;
        height: 3rem;
        font-size: 1rem;
        font-weight: 500;
        border: 2px solid var(--dark);
        border-radius: 0.5rem;
    }

    .search-icon-container {
        position: absolute;
        top: 2rem;
        right: 20rem;

        @media (max-width: 1024px) { 
            right: 10rem;
        }

        @media (max-width: 768px) {
            right: 1rem;
        }

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            width: 3rem; 
            height: 3rem;

            .icon {
                font-size: 1rem;
                color: #000000;
            }
        }
    }
}